@inject HttpClient _client

<EditForm Model="@payment" OnValidSubmit="@OnValidSubmit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <fieldset disabled="@Disabled">
        <div class="form-group">
            <label>Name: </label>
            <div>
                <InputText @bind-Value="@payment.Name" class="form-control" />
                <ValidationMessage For="@(() => payment.Name)" />
            </div>
        </div>

        <div class="form-group">
            <label>Name: </label>
            <div>
                <InputText @bind-Value="@payment.CardType" class="form-control" />
                <ValidationMessage For="@(() => payment.CardType)" />
            </div>
        </div>

        <div class="form-group">
            <label>Name: </label>
            <div>
                <InputText @bind-Value="@payment.CardNumber" class="form-control" />
                <ValidationMessage For="@(() => payment.CardNumber)" />
            </div>
        </div>
        
    </fieldset>

        @if (!Disabled)
        { 
        <button type="submit" class="btn btn-success btn-block">
            @ButtonText
        </button>
        }

    <BackToList Target="payment" />
</EditForm>

@code {
    [Parameter] public bool Disabled { get; set; } = false;
    [Parameter] public Payment payment { get; set; }
    [Parameter] public string ButtonText { get; set; } = "Save";
    [Parameter] public EventCallback OnValidSubmit { get; set; }


}
